[alias]
        adc = add -p
        alias = config --get-regexp ^alias\\.
        amend = commit --amend --no-edit
        s = status -sb
        rn = branch -m
        cb = checkout -b
        c = checkout
        f = fetch
        l = log
        p = pull
        cbm = "! git checkout -b \"$1\" \"origin/main\" #"
        rbm = rebase origin/main
